{% extends 'base.html' %}

{% load static %}

{% block title %}Orders{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
          integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
          crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
            integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
            crossorigin=""></script>

    <style>
        .header {
            font-size: 3rem;
            font-weight: bold;
            margin: 2rem auto;
            text-align: center;
        }

        .map {
            height: 180px;
            margin: 0.5rem
        }
    </style>
{% endblock %}

{% block content %}
    <div class="m-3 row" style="min-height: 100dvh;">
        <h1 class="header">Rider Pickup/Delivers</h1>

        {% for order_instance in order_list %}
            <div class="col-lg-6 col-md-12 p-2">
                <div class="card">
                    <div class="card-body">
                        <div class="fw-normal fs-3 my-5">
                            <div>Order created at: {{ order_instance.order.created_at }}</div>
                        </div>
                        <h5 class="card-title fw-bold">{{ order_instance.order.restaurant.name }}</h5>


                        <table class="table table-borderless rounded-3 table-striped">
                            <thead>
                            <tr>
                                <th>Item</th>
                                <th>Price</th>
                            </tr>
                            </thead>

                            <tbody>
                            {% for item in order_instance.items %}
                                <tr>
                                    <td class="text-start"><strong>{{ item.quantity }}x</strong>{{ item.item.name }}
                                    </td>
                                    <td>Rs. {{ item.item.price }}</td>
                                </tr>
                            {% endfor %}


                            </tbody>

                            <tfoot>
                            <tr>
                                <td>
                                    <div class="fs-3 fw-bold">Total</div>
                                </td>
                                <td>
                                    <div class="fs-3 fw-bold">Rs. {{ order_instance.order.total_amount }}</div>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <div class="fs-3 fw-bold">Order ID</div>
                                </td>
                                <td>
                                    <div class="fs-3 fw-bold">{{ order_instance.order.pk }}</div>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <div class="fs-3 fw-bold">Payment</div>
                                </td>
                                <td>
                                    <div class="fs-3 fw-bold">{{ order_instance.transaction.get_status }}</div>
                                </td>
                            </tr>


                            {% if order_instance.order.status == order_status.PREPARING or order_instance.order.status == order_status.RIDER_ON_WAY %}
                                <tr>
                                    <td>
                                        <div class="fs-3 fw-bold">{{ order_instance.restaurant.name }}</div>
                                    </td>
                                </tr>

                                <tr>
                                    <td colspan="2">
                                        <div class="map" id="map-{{ forloop.counter0 }}"></div>
                                    </td>
                                </tr>



                                <tr>
                                    <td>
                                        <div class="fs-3 fw-bold">Customer Location</div>
                                    </td>
                                </tr>

                                <tr>
                                    <td colspan="2">
                                        <div class="map" id="mapc-{{ forloop.counter0 }}"></div>
                                    </td>
                                </tr>


                                <script>
                                    const map_{{ forloop.counter0 }} = L.map('map-{{ forloop.counter0 }}', {
                                        {% if order_instance.restaurant.get_location %}
                                            center: [{{ order_instance.restaurant.get_latitude }}, {{ order_instance.restaurant.get_longitude }}],
                                        {% else %}
                                            center: [31.5204, 74.3587],
                                        {% endif %}
                                        zoom: 13
                                    });

                                    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
                                        maxZoom: 19,
                                        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
                                    }).addTo(map_{{ forloop.counter0 }});

                                    L.marker([{{ order_instance.restaurant.get_latitude }}, {{ order_instance.restaurant.get_longitude }}]).addTo(map_{{ forloop.counter0 }});


                                </script>

                                <script>
                                    const mapc_{{ forloop.counter0 }} = L.map('mapc-{{ forloop.counter0 }}', {
                                        {% if order_instance.restaurant.get_location %}
                                            center: [{{ order_instance.user.get_latitude }}, {{ order_instance.user.get_longitude }}],
                                        {% else %}
                                            center: [31.5204, 74.3587],
                                        {% endif %}
                                        zoom: 13
                                    });

                                    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
                                        maxZoom: 19,
                                        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
                                    }).addTo(mapc_{{ forloop.counter0 }});

                                    L.marker([{{ order_instance.user.get_latitude }}, {{ order_instance.user.get_longitude }}]).addTo(mapc_{{ forloop.counter0 }});


                                </script>
                            {% endif %}


                            <tr>
                                <td>
                                    <div class="fs-3 fw-bold">Customer Phone No</div>
                                </td>
                                <td>
                                    <div class="fs-3 fw-bold">{{ order_instance.order.user.phone }}</div>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <div class="fs-3 fw-bold">Restaurant Phone No</div>
                                </td>
                                <td>
                                    <div class="fs-3 fw-bold">{{ order_instance.order.restaurant.phone }}</div>
                                </td>
                            </tr>


                            <tr>
                                <td>
                                    <div class="fs-3 fw-bold">Status</div>
                                </td>
                                <td>
                                    <div class="fs-3 fw-bold text-{{ order_instance.order.get_status_color }}">{{ order_instance.order.get_status }}</div>
                                </td>
                            </tr>

                            </tfoot>
                        </table>

                        <form method="POST" class="d-grid">
                            {% csrf_token %}
                            <input type="hidden" name="order_pk" value="{{ order_instance.order.pk }}">
                            {% if order_instance.order.status == order_status.PREPARING %}
                                <input type="hidden" name="order_status" value="{{ order_status.RIDER_ON_WAY }}">
                                <button type="submit" class="btn btn-success">Mark as RIDER ON WAY</button>
                            {% endif %}

                            {% if order_instance.order.status == order_status.RIDER_ON_WAY %}
                                <input type="hidden" name="order_status" value="{{ order_status.DELIVERED }}">
                                <button type="submit" class="btn btn-success">Mark as DELIVERED</button>
                            {% endif %}
                        </form>
                    </div>
                </div>
            </div>


        {% endfor %}


    </div>
{% endblock %}