<div id="messages"
     hx-get="{% url 'rider:live_chat_with_user' order_id=order.id %}?only-messages=true"
     hx-swap="outerHTML"
     hx-trigger="load delay:2s"
>

    {% for message in messages %}
        {% if message.sender == request.user %}
            <div class="d-flex flex-column align-items-end">
                <div class="px-3 fw-bold">You</div>
                <div class="rounded-elem p-3 bg-warning d-flex align-items-center">
                    <div>{{ message.text }}</div>
                </div>
            </div>
        {% else %}
            <div class=" d-flex flex-column align-items-start">
                <div class="px-3 fw-bold">{{ receiver.first_name }}</div>
                <div class="rounded-elem p-3 border border-warning d-flex align-items-center">
                    <div>{{ message.text }}</div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>