{% extends 'base.html' %}

{% load static %}

{% block title %}Add New Menu{% endblock %}
{% block styles %}
    <style>
        body {
            background-color: #ededed;

        }

        .main-container {
            margin: 3rem;
            min-height: 70dvh;
            background: white;
            display: grid;
            padding: 3rem;


        }

        .item {
            padding: 1rem;
            border-radius: 1rem;
            border: solid 3px gray;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            transition: all 250ms;
        }
        
        .item:hover {
            transform: scale(1.02);
        }
    </style>
{% endblock %}

{% block content %}
    <div class="main-container rounded-elem">

        <div class="d-flex flex-column">
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Menu Name</span>
                <input type="text" class="form-control" placeholder="Please Enter Menu Name here" aria-label="Username"
                       aria-describedby="basic-addon1">
            </div>

            <div class="item">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">Item Name</span>
                    <input type="text" class="form-control" placeholder="Please Enter Item Name here"
                           aria-label="Username"
                           aria-describedby="basic-addon1">
                </div>

                <div class="input-group mb-3">
                    <label class="input-group-text" for="inputGroupFile01">Upload Image</label>
                    <input type="file" class="form-control" id="inputGroupFile01">
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">Item Price</span>
                    <input type="number" class="form-control" placeholder="Please Enter Price here"
                           aria-label="price"
                           aria-describedby="basic-addon1">
                </div>

                <div class="form-floating">
                    <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2"
                              style="height: 100px"></textarea>
                    <label for="floatingTextarea2">Item Description</label>
                </div>

                <button class="btn btn-warning btn-lg my-3">Add</button>

            </div>
        </div>

    </div>

{% endblock %}