{% extends 'base.html' %}

{% load static %}

{% block title %}Add Restaurant Info {% endblock %}

{% block styles %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
          integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
          crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
            integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
            crossorigin=""></script>

    <style>
        body {
            color: #9b9ca1;
        }

        .bg-secondary-soft {
            background-color: rgba(208, 212, 217, 0.1) !important;
        }

        .rounded {
            border-radius: 5px !important;
        }

        .py-5 {
            padding-top: 3rem !important;
            padding-bottom: 3rem !important;
        }

        .px-4 {
            padding-right: 1.5rem !important;
            padding-left: 1.5rem !important;
        }

        .file-upload .square {
            height: 250px;
            width: 250px;
            margin: auto;
            vertical-align: middle;
            border: 1px solid #e5dfe4;
            background-color: #fff;
            border-radius: 5px;
        }

        .text-secondary {
            --bs-text-opacity: 1;
            color: rgba(208, 212, 217, 0.5) !important;
        }

        .btn-success-soft {
            color: #28a745;
            background-color: rgba(40, 167, 69, 0.1);
        }

        .btn-danger-soft {
            color: #dc3545;
            background-color: rgba(220, 53, 69, 0.1);
        }

        .form-control {
            display: block;
            width: 100%;
            padding: 0.5rem 1rem;
            font-size: 0.9375rem;
            font-weight: 400;
            line-height: 1.6;
            color: #29292e;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid #e5dfe4;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            border-radius: 5px;
            -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
            transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
            transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
            transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
        }

        .dark {
            color: #000000;
        }

        #map, #map2 {
            height: 250px;
            margin: 0.5rem;
        }


    </style>
{% endblock %}


{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Page title -->
                <div class="my-5">
                    <h3 class="fw-bold dark fs-1">{{ name }}</h3>
                    <hr>
                </div>

                {#                <form id="location_form" method="POST" action="{% url 'restaurant:change_restaurant_location' %}">#}
                {#                    {% csrf_token %}#}
                {#                    <input type="hidden" name="latitude" value="{{ restaurant.get_latitude }}">#}
                {#                    <input type="hidden" name="longitude"#}
                {#                           value="{{ restaurant.get_longitude }}">#}
                {##}
                {#                    <input name="location_in_string" class="form-control" id="inputLocation"#}
                {#                           type="hidden"#}
                {#                           value="{{ restaurant.get_location }}">#}
                {##}
                {#                </form>#}

                <!-- Form START -->
                <div>
                    <div class="row mb-5 gx-5">
                        <!-- Contact detail -->
                        <form method="POST" enctype="multipart/form-data" class="col-xxl-8 mb-5 mb-xxl-0">
                            {% csrf_token %}
                            <div class="bg-secondary-soft px-4 py-5 rounded">
                                <div class="row g-3">
                                    <h4 class="mb-4 mt-0 dark fs-2">Restaurant detail</h4>
                                    {% if image_src %}
                                        <div class="col-md-12">
                                            <img width="350px" src="{{ image_src }}" alt="restaurant cover image">
                                        </div>
                                    {% endif %}
                                    <div class="col-md-6">
                                        <label class="form-label">Name of Restaurant*</label>
                                        <input required name="name" type="text" class="form-control"
                                               placeholder="Restaurant Name" aria-label="First name"
                                               value="{{ name }}">
                                    </div>

                                    <div class="col-md-6">
                                        <label class="form-label">Publish Restaurant? </label>

                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="1"
                                                   name="is_published"
                                                   id="flexCheckChecked" {% if restaurant.is_published %}
                                                   checked{% endif %}>
                                            <label class="form-check-label fw-bold text-black-50"
                                                   for="flexCheckChecked">
                                                Is The Restaurant Shown on Search Results?[also set location]
                                            </label>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <label class="form-label">Phone number </label>
                                        <input min="1000000000" max="99999999999" required name="phone" type="number" class="form-control" placeholder=""
                                               aria-label="Phone number"
                                               value="{{ phone }}">
                                    </div>

                                    <div class="col-md-6">
                                        <label class="form-label">Phone number2 </label>
                                        <input min="1000000000" max="99999999999" name="phone2" type="number" class="form-control" placeholder=""
                                               aria-label="Phone number"
                                               value="{{ phone2 }}">
                                    </div>


                                    <div class="col-md-6">
                                        <label for="opening_time" class="form-label">Opening Time *</label>
                                        <input required name="opens_at" type="time" class="form-control"
                                               id="opening_time"
                                               value="{{ opens_at }}">
                                    </div>

                                    <div class="col-md-6">
                                        <label for="closing_time" class="form-label">Closing Time *</label>
                                        <input required name="closes_at" type="time" class="form-control"
                                               id="closing_time"
                                               value="{{ closes_at }}">
                                    </div>

                                    <div class="col-md-6">
                                        <label for="restaurant_image" class="form-label">Restaurant Image</label>
                                        <input {% if not restaurant.restaurant_image %}required{% endif %}
                                               name="restaurant_image" type="file" class="form-control"
                                               id="restaurant_image">
                                    </div>

                                    <div class="col-md-12 d-flex justify-content-end">
                                        <button type="submit" class="btn btn-warning px-4">Save</button>
                                    </div>
                                </div>
                            </div>
                        </form>


                        <div class="col-xxl-8 mb-5 mb-xxl-0">
                            <div class="bg-secondary-soft px-4 py-5 rounded">
                                <form id="location_form" method="POST"
                                      action="{% url 'restaurant:change_restaurant_location' %}" class="row g-3">
                                    {% csrf_token %}

                                    <h4 class="mb-4 mt-0 dark fs-2">Restaurant Location</h4>

                                    <div class="row gx-3 mb-3">

                                        <div class="col-md-6">
                                            <input type="hidden" name="latitude" value="{{ restaurant.get_latitude }}">
                                            <input type="hidden" name="longitude"
                                                   value="{{ restaurant.get_longitude }}">

                                            <input required readonly name="location_in_string" class="form-control"
                                                   id="inputLocation"
                                                   type="text"
                                                   value="{{ restaurant.get_location }}">
                                            <div id="map"></div>

                                            <div>
                                                <button id="btn-location-save" type="button" class="btn btn-success">
                                                    Save
                                                </button>
                                            </div>
                                        </div>
                                    </div>


                                </form> <!-- Row END -->
                            </div>
                        </div>


                        <div class="col-xxl-8 mb-5 mb-xxl-0">
                            <div class="bg-secondary-soft px-4 py-5 rounded">
                                <div class="row g-3">
                                    <h4 class="mb-4 mt-0 dark fs-2">Delivery Zones</h4>
                                    <ul class="dark ">
                                        {% for delivery_zone in restaurant.get_delivery_zones %}

                                            <form method="POST" action="{% url 'restaurant:remove_delivery_zone' %}"
                                                  class="m-2 d-flex gap-4">
                                                {% csrf_token %}
                                                <input type="hidden" name="delivery_zone_id"
                                                       value="{{ delivery_zone.id }}">
                                                <div class="btn btn-success-soft fs-5 flex-fill">{{ delivery_zone.location_in_string }}</div>
                                                <button type="submit" class="btn btn-danger-soft p-2 px-4 ">X</button>
                                            </form>
                                        {% endfor %}

                                    </ul>
                                    <form method="POST" action="{% url 'restaurant:add_delivery_zone' %}"
                                          class="col-md-6">
                                        {% csrf_token %}
                                        <label id="editing-location" class="small mb-1">Delivery Zone</label>
                                        <input type="hidden" name="latitude2" value="">
                                        <input type="hidden" name="longitude2" value="">
                                        <input type="hidden" name="location_in_string2" value="">
                                        <div id="map2"></div>

                                        <button disabled id="delivery-location-save" type="submit"
                                                class="btn-warning m-3 btn">Add Delivery Zone
                                        </button>
                                    </form>


                                </div> <!-- Row END -->
                            </div>
                        </div>


                    </div> <!-- Row END -->

                </div> <!-- Form END -->
            </div>
        </div>
    </div>

    <script>
        document.getElementById('btn-location-save').addEventListener('click', () => {
            document.getElementById('location_form').submit()
        })


        const map = L.map('map', {
            {% if restaurant.get_location != '' %}
                center: [{{ restaurant.get_latitude }}, {{ restaurant.get_longitude }}],
            {% else %}
                center: [31.5204, 74.3587],
            {% endif %}
            zoom: 13
        });

        L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
        }).addTo(map);

        let marker;
        {% if restaurant.get_latitude and restaurant.get_longitude %}
            marker = L.marker([
                {% if restaurant.get_location != '' %}
                    {{ restaurant.get_latitude }}, {{ restaurant.get_longitude }}
                {% else %}
                    31.5204, 74.3587
                {% endif %}
            ]).addTo(map);
        {% endif %}

        let latlng;
        map.on('click', function (e) {
            document.getElementById('btn-location-save').setAttribute('disabled', 'true')

            if (marker)
                map.removeLayer(marker);
            console.log(e.latlng); // e is an event object (MouseEvent in this case)
            latlng = e.latlng
            marker = L.marker(e.latlng).addTo(map);

            document.querySelector('input[name="latitude"]').value = e.latlng.lat
            document.querySelector('input[name="longitude"]').value = e.latlng.lng


            fetch(`https://api.geoapify.com/v1/geocode/reverse?lat=${latlng.lat}&lon=${latlng.lng}&apiKey=c9743ce533884c64a9f4b465359d181f`)
                .then(response => response.json())
                .then(result => {
                    const location_string = result.features[0].properties.formatted
                    const location_input_element = document.getElementById('inputLocation')


                    location_input_element.value = location_string
                    document.getElementById('btn-location-save').removeAttribute('disabled')
                })
                .catch(error => console.log('error', error));
        });

    </script>

    <script>

        const map2 = L.map('map2', {
            {% if restaurant.get_location != '' %}
                center: [{{ restaurant.get_latitude }}, {{ restaurant.get_longitude }}],
            {% else %}
                center: [31.5204, 74.3587],
            {% endif %}
            zoom: 13
        });

        L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
        }).addTo(map2);

        let marker2;
        let latlng2;
        map2.on('click', function (e) {
            document.getElementById('delivery-location-save').setAttribute('disabled', 'true')

            if (marker2)
                map2.removeLayer(marker2);
            console.log(e.latlng); // e is an event object (MouseEvent in this case)
            latlng2 = e.latlng
            marker2 = L.marker(e.latlng).addTo(map2);

            document.querySelector('input[name="latitude2"]').value = e.latlng.lat
            document.querySelector('input[name="longitude2"]').value = e.latlng.lng


            fetch(`https://api.geoapify.com/v1/geocode/reverse?lat=${latlng2.lat}&lon=${latlng2.lng}&apiKey=c9743ce533884c64a9f4b465359d181f`)
                .then(response => response.json())
                .then(result => {
                    const location_string = result.features[0].properties.formatted
                    const location_input_element = document.getElementById('editing-location')

                    document.getElementById('editing-location').innerText = result.features[0].properties.formatted
                    document.querySelector('input[name="location_in_string2"]').value = result.features[0].properties.formatted


                    location_input_element.value = location_string
                    document.getElementById('delivery-location-save').removeAttribute('disabled')
                })
                .catch(error => console.log('error', error));
        });


        {% for delivery_zone in restaurant.get_delivery_zones %}
            L.circle([{{ delivery_zone.latitude }}, {{ delivery_zone.longitude }}], {
                color: 'green',
                fillColor: '#56964a',
                fillOpacity: 0.3,
                radius: 1000,
            }).addTo(map2);
        {% endfor %}


    </script>

{% endblock %}