{% extends 'base.html' %}

{% load static %}

{% block title %}Add Restaurant Info {% endblock %}

{% block styles %}
    <style>
        body {
            color: #9b9ca1;
        }

        .bg-secondary-soft {
            background-color: rgba(208, 212, 217, 0.1) !important;
        }

        .rounded {
            border-radius: 5px !important;
        }

        .py-5 {
            padding-top: 3rem !important;
            padding-bottom: 3rem !important;
        }

        .px-4 {
            padding-right: 1.5rem !important;
            padding-left: 1.5rem !important;
        }

        .file-upload .square {
            height: 250px;
            width: 250px;
            margin: auto;
            vertical-align: middle;
            border: 1px solid #e5dfe4;
            background-color: #fff;
            border-radius: 5px;
        }

        .text-secondary {
            --bs-text-opacity: 1;
            color: rgba(208, 212, 217, 0.5) !important;
        }

        .btn-success-soft {
            color: #28a745;
            background-color: rgba(40, 167, 69, 0.1);
        }

        .btn-danger-soft {
            color: #dc3545;
            background-color: rgba(220, 53, 69, 0.1);
        }

        .form-control {
            display: block;
            width: 100%;
            padding: 0.5rem 1rem;
            font-size: 0.9375rem;
            font-weight: 400;
            line-height: 1.6;
            color: #29292e;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid #e5dfe4;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            border-radius: 5px;
            -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
            transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
            transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
            transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
        }

        .dark {
            color: #000000;
        }
        
        img{
            border:solid 2px blue;
            padding: 1rem;
        }

    </style>
{% endblock %}


{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Page title -->
                <div class="my-5">
                    <h3 class="fw-bold dark fs-1">{{ name }}</h3>
                    <hr>
                </div>
                <!-- Form START -->
                <form method="POST" class="file-upload" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row mb-5 gx-5">
                        <!-- Contact detail -->
                        <div class="col-xxl-8 mb-5 mb-xxl-0">
                            <div class="bg-secondary-soft px-4 py-5 rounded">
                                <div class="row g-3">
                                    <h4 class="mb-4 mt-0 dark fs-2">Restaurant detail</h4>
                                    {% if image_src %}
                                        <div class="col-md-12">
                                            <img width="350px" src="{{ image_src }}" alt="restaurant cover image">
                                        </div>
                                    {% endif %}
                                    <div class="col-md-6">
                                        <label class="form-label">Name of Restaurant*</label>
                                        <input name="name" type="text" class="form-control"
                                               placeholder="Restaurant Name" aria-label="First name"
                                               value="{{ name }}">
                                    </div>

                                    <div class="col-md-6">
                                        <label class="form-label">Phone number </label>
                                        <input name="phone" type="text" class="form-control" placeholder=""
                                               aria-label="Phone number"
                                               value="{{ phone }}">
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label">Phone number </label>
                                        <input name="phone2" type="text" class="form-control" placeholder=""
                                               aria-label="Phone number"
                                               value="{{ phone2 }}">
                                    </div>


                                    <div class="col-md-6">
                                        <label for="opening_time" class="form-label">Opening Time *</label>
                                        <input name="opens_at" type="time" class="form-control" id="opening_time"
                                               value="{{ opens_at }}">
                                    </div>

                                    <div class="col-md-6">
                                        <label for="closing_time" class="form-label">Closing Time *</label>
                                        <input name="closes_at" type="time" class="form-control" id="closing_time"
                                               value="{{ closes_at }}">
                                    </div>

                                    <div class="col-md-6">
                                        <label for="restaurant_image" class="form-label">Restaurant Image</label>
                                        <input name="restaurant_image" type="file" class="form-control"
                                               id="restaurant_image">
                                    </div>

                                    <div class="col-md-12 d-flex justify-content-end">
                                        <button type="submit" class="btn btn-warning px-4">Save</button>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-xxl-8 mb-5 mb-xxl-0">
                            <div class="bg-secondary-soft px-4 py-5 rounded">
                                <div class="row g-3">
                                    <h4 class="mb-4 mt-0 dark fs-2">Delivery Zones</h4>
                                    <ul class="dark ">

                                        <li class="m-2 d-flex gap-4">
                                            <div class="btn btn-success-soft fs-5 flex-fill">B-19 S.I.T.E Super
                                                Highway.Karachi.Pakistan, Lahore,Karachi,Pakistan
                                            </div>
                                            <button class="btn btn-danger-soft p-2 px-4 ">X</button>
                                        </li>


                                        <li class="m-2 d-flex gap-4">
                                            <div class="btn btn-success-soft fs-5 flex-fill">Mehersons Estate Talpur
                                                Road Sindh,
                                                Lahore,Sindh,Pakistan
                                            </div>
                                            <button class="btn btn-danger-soft p-2 px-4 ">X</button>
                                        </li>
                                    </ul>
                                    <div class="col-md-6">
                                        <label class="form-label">Add Delivery Zone*</label>
                                        <input type="text" class="form-control" placeholder="" aria-label="First name"
                                               value="Plot No.1 & 2 North Karachi Township Sindh, Lahore,Sindh,Pakistan">

                                        <button class="btn-warning text-white m-3 btn">Add Delivery Zone</button>
                                    </div>


                                </div> <!-- Row END -->
                            </div>
                        </div>


                    </div> <!-- Row END -->

                </form> <!-- Form END -->
            </div>
        </div>
    </div>

{% endblock %}