{% extends 'base.html' %}

{% load static %}

{% block title %}Add New Menu{% endblock %}
{% block styles %}
    <script src="https://unpkg.com/htmx.org@2.0.1"
            integrity="sha384-QWGpdj554B4ETpJJC9z+ZHJcA/i59TyjxEPXiiUgN2WmTyV5OEZWCD6gQhgkdpB/"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <style>
        body {
            background-color: #ededed;

        }

        .main-container {
            margin: 3rem;
            min-height: 70dvh;
            background: white;
            display: grid;
            padding: 3rem;


        }

        .item {
            padding: 1rem;
            border-radius: 1rem;
            border: solid 3px gray;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            transition: all 250ms;
        }

        .item:hover {
            transform: scale(1.02);
        }
    </style>
{% endblock %}

{% block content %}
    <div class="main-container rounded-elem">
        <div class="p-3">

            <a class="btn btn-primary" href="{% url 'restaurant:menus' %}">Go Back to Menu</a>
        </div>

        <div class="d-flex flex-column gap-5">
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Menu Name</span>
                <input type="text" class="form-control" placeholder="Please Enter Menu Name here"
                       value="{{ name }}" aria-label="Username"
                       aria-describedby="basic-addon1">
            </div>
            <div id="items" class="d-flex flex-column gap-5">

                {% for item in items %}
                    <div class="item">

                        <form
                                hx-post="{% url 'restaurant:edit_menu' pk=menu_pk %}"
                                hx-swap="none"
                                hx-on::after-request="show_toast()"
                                enctype="multipart/form-data">
                            {% csrf_token %}

                            <input type="hidden" name="item_pk" value="{{ item.pk }}">

                            <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon1">Item Name</span>
                                <input required name="name" type="text" class="form-control"
                                       placeholder="Please Enter Item Name here"
                                       aria-label="Username"
                                       value="{{ item.name }}"
                                       aria-describedby="basic-addon1">
                            </div>

                            <div class="input-group mb-3">
                                <label class="input-group-text" for="inputGroupFile01">Upload Image</label>
                                <input name="image" src="{{ item.image.url }}" type="file" class="form-control"
                                       id="inputGroupFile01">
                            </div>

                            <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon1">Item Price</span>
                                <input required min="1" name="price" type="number" class="form-control"
                                       placeholder="Please Enter Price here"
                                       aria-label="price"
                                       value="{{ item.price }}"
                                       aria-describedby="basic-addon1">
                            </div>

                            <div class="form-floating">
                        <textarea required name="description" class="form-control" placeholder="Leave a comment here"
                                  id="floatingTextarea2"
                                  style="height: 100px">{{ item.description }}</textarea>
                                <label for="floatingTextarea2">Item Description</label>
                            </div>

                            <button type="submit" class="btn btn-warning btn-lg my-3">Save Changes
                            </button>


                        </form>
                        <form
                                hx-post="{% url 'restaurant:delete_item' %}"
                                hx-target="closest .item"
                                hx-swap="delete"
                        >
                            {% csrf_token %}
                            <input type="hidden" name="pk" value="{{ item.pk }}">
                            <button type="submit" class="btn btn-danger btn-lg my-3">Delete</button>
                        </form>

                    </div>
                {% endfor %}
            </div>


            <form
                    hx-post="{% url 'restaurant:edit_menu' pk=menu_pk %}"
                    hx-target="#items"
                    hx-swap="beforeend ignoreTitle:true"
                    hx-on::after-request="this.reset()"
                    enctype="multipart/form-data" class="item">
                {% csrf_token %}
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">Item Name</span>
                    <input required minlength="3" name="name" type="text" class="form-control"
                           placeholder="Please Enter Item Name here"
                           aria-label="Username"
                           aria-describedby="basic-addon1">
                </div>

                <div class="input-group mb-3">
                    <label class="input-group-text" for="inputGroupFile01">Upload Image</label>
                    <input required name="image" type="file" class="form-control" id="inputGroupFile01">
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">Item Price</span>
                    <input required min="1" name="price" type="number" class="form-control"
                           placeholder="Please Enter Price here"
                           aria-label="price"
                           aria-describedby="basic-addon1">
                </div>

                <div class="form-floating">
                    <textarea required name="description" class="form-control" placeholder="Leave a comment here"
                              id="floatingTextarea2"
                              style="height: 100px"></textarea>
                    <label for="floatingTextarea2">Item Description</label>
                </div>

                <button type="submit" class="btn btn-warning btn-lg my-3">Add</button>

            </form>

        </div>

    </div>

    <script>
        function handleSubmit(e) {
            e.preventDefault()
            location.reload()
        }
    </script>

    <script>
        function show_toast() {
            Toastify({
                text: "Saved Changes!!",
                duration: 3000,
                close: true,
                gravity: "top", // `top` or `bottom`
                position: "right", // `left`, `center` or `right`
                stopOnFocus: true, // Prevents dismissing of toast on hover
                style: {
                    background: 'green',
                }

            }).showToast();
        }

    </script>

{% endblock %}