<div class="item">

    <form
            hx-post="{% url 'restaurant:edit_menu' pk=menu_pk %}"
            hx-target="none"
            enctype="multipart/form-data">
        {% csrf_token %}

        <input type="hidden" name="item_pk" value="{{ item.pk }}">
        <input type="hidden" name="menu_pk" value="{{ menu_pk }}">

        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Item Name</span>
            <input required name="name" type="text" class="form-control"
                   placeholder="Please Enter Item Name here"
                   aria-label="Username"
                   value="{{ item.name }}"
                   aria-describedby="basic-addon1">
        </div>

        <div class="input-group mb-3">
            <label class="input-group-text" for="inputGroupFile01">Upload Image</label>
            <input name="image" src="{{ item.image.url }}" type="file" class="form-control"
                   id="inputGroupFile01">
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Item Price</span>
            <input required min="1" name="price" type="number" class="form-control"
                   placeholder="Please Enter Price here"
                   aria-label="price"
                   value="{{ item.price }}"
                   aria-describedby="basic-addon1">
        </div>

        <div class="form-floating">
                        <textarea required name="description" class="form-control" placeholder="Leave a comment here"
                                  id="floatingTextarea2"
                                  style="height: 100px">{{ item.description }}</textarea>
            <label for="floatingTextarea2">Item Description</label>
        </div>

        <button type="submit" class="btn btn-warning btn-lg my-3">Save Changes</button>


    </form>
    <form method="POST" action="{% url 'restaurant:delete_item' %}">
        {% csrf_token %}
        <input type="hidden" name="pk" value="{{ item.pk }}">
        <button type="submit" class="btn btn-danger btn-lg my-3">Delete</button>
    </form>

</div>