{% extends 'base.html' %}
{% load static %}

{% block title %}Menu List {% endblock %}

{% block styles %}
    <style>
        body {
            background-color: #ededed;

        }

        .main-container {
            margin: 3rem;
            min-height: 70dvh;
            background: white;
            display: grid;
            padding: 3rem;
            row-gap: 2rem;


        }

        h1 {
            font-weight: bold;
        }

        .menu-item {
            font-size: 1.3rem;
        {#border-radius: 1rem;#} padding: 0.5rem;
            text-decoration: none;
            color: black;
            transition: all 250ms;
            border-bottom: solid 1px gray;
            margin: 1rem 0;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            justify-content: space-between;


        }

        ul {
            list-style-type: none;
        }

        a:hover {
            color: black;
        {#transform: scale(1.05);#}
        }

        .item {
            padding: 1rem;
            border-radius: 1rem;
        {#border: solid 3px gray;#} box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            transition: all 250ms;
            text-transform: capitalize;
        }

        .item:hover {
            transform: scale(1.02);
        }

    </style>
{% endblock %}

{% block content %}
    <div class="main-container rounded-elem">
        <h1>Menus</h1>

        {% for menu in menu_list %}
            <div class="item">
                <h2>{{ menu.name }}</h2>
                <ul>
                    {% for item in menu.items %}
                        <li class="menu-item">

                            <div>{{ item.name }}</div>
                            {#                            <div>{{ base }}</div>#}
                            <img width="100px" src="{{ item.image.url }}" alt="">
                            <div class="fw-bold">Rs. {{ item.price }}</div>
                            <div>{{ item.description }}</div>
                        </li>
                    {% endfor %}

                </ul>

                <div class="d-flex justify-content-end gap-4">
                    <a href="{% url 'restaurant:edit_menu' menu.pk %}" class="btn btn-warning btn-lg my-3">Edit</a>
                    <form method="POST" action="{% url 'restaurant:delete_menu' %}">
                        {% csrf_token %}
                        <input type="hidden" name="pk" value="{{ menu.pk }}">
                        <button class="btn btn-danger btn-lg my-3">Delete</button>
                    </form>

                </div>

            </div>
        {% endfor %}

        <div>
            <a href="{% url 'restaurant:add_menu' %}" class="btn btn-warning btn-lg m-3">Add A New Menu</a>

        </div>


    </div>
{% endblock %}