{% extends 'base.html' %}
{% load static %}

{% block title %}Menu List {% endblock %}

{% block styles %}
    <style>
        body {
            background-color: #ededed;

        }

        .main-container {
            margin: 3rem;
            min-height: 70dvh;
            background: white;
            display: grid;
            padding: 3rem;
            row-gap: 2rem;


        }

        h1 {
            font-weight: bold;
        }

        .menu-item {
            font-size: 1.3rem;
        {#border-radius: 1rem;#} padding: 0.5rem;
            text-decoration: none;
            color: black;
            transition: all 250ms;
            border-bottom: solid 1px gray;
            margin: 1rem 0;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            justify-content: space-between;


        }

        ul {
            list-style-type: none;
        }

        a:hover {
            color: black;
        {#transform: scale(1.05);#}
        }

        .item {
            padding: 1rem;
            border-radius: 1rem;
        {#border: solid 3px gray;#} box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            transition: all 250ms;
            text-transform: capitalize;
        }

        .item:hover {
            transform: scale(1.02);
        }

        .modal {
            background-color: rgba(0, 0, 0, 0.73);
            justify-content: center;
            align-items: center;
        }

        .modal-content {
            padding: 1rem;
            max-width: 20rem;
        }

        .notification {
            position: fixed;
            z-index: 10000;
            right: 0;
            background-color: #0c4128;
            padding: 0.7rem;
            margin: 1rem;
            border: solid 2px #0c4128;
            border-radius: 1rem;
            display: flex;
            gap: 2rem;
            color: white;
            cursor: default;
        }

        #notification > .btn {
            background-color: white;
            font-weight: bold;
            font-size: 0.8rem;
            margin: 0.2rem;

        }

        #notification > .btn:hover {
            background-color: #0c4128;
            color: white;
            border-color: white;
        }

    </style>
{% endblock %}

{% block content %}

    {% if show_menu_created_notification %}
        <div class="notification" id="notification">
            <div class="d-grid justify-content-start">

                <div>Successfully created menu!</div>

                <div> Please Add items to the menu.</div>
            </div>
            <button id="notification-close-btn" class="btn btn-outline-success">Close</button>
        </div>

        <script>
            message_close_btn = document.getElementById('notification-close-btn')
            notification = document.getElementById('notification')

            message_close_btn.addEventListener('click', e => {
                notification.style.display = 'none'
            })

        </script>
    {% endif %}
    <div class="main-container rounded-elem">
        <h1>Menus</h1>

        {% for menu in menu_list %}
            <div class="item">
                <h2>{{ menu.name }}</h2>
                <ul>
                    {% for item in menu.items %}
                        <li class="menu-item">

                            <div>{{ item.name }}</div>
                            {#                            <div>{{ base }}</div>#}
                            <img width="100px" src="{{ item.image.url }}" alt="">
                            <div class="fw-bold">Rs. {{ item.price }}</div>
                            <div>{{ item.description }}</div>
                        </li>
                    {% endfor %}

                </ul>

                <div class="d-flex justify-content-end gap-4">
                    <a href="{% url 'restaurant:edit_menu' menu.pk %}" class="btn btn-warning btn-lg my-3">Edit</a>
                    <form id="delete-form-{{ menu.pk }}" method="POST" action="{% url 'restaurant:delete_menu' %}">
                        {% csrf_token %}
                        <input type="hidden" name="pk" value="{{ menu.pk }}">
                        <button id="delete-form-btn-{{ menu.pk }}" type="button" class="btn btn-danger btn-lg my-3">
                            Delete
                        </button>
                    </form>

                </div>

            </div>

            <div class="modal" id="modal-{{ menu.pk }}">
                <div class="modal-content">
                    <p>Are you Sure you want to delete menu "{{ menu.name }}"?</p>
                    <div class="d-flex justify-content-end">
                        <button id="yes-{{ menu.pk }}" class="btn btn-danger">Yes</button>
                        <button id="no-{{ menu.pk }}" class="btn btn-success">No</button>
                    </div>
                </div>

            </div>

            <script>
                delete_form_btn_{{ menu.pk }} = document.getElementById('delete-form-btn-{{ menu.pk }}')
                delete_form_{{ menu.pk }} = document.getElementById('delete-form-{{ menu.pk }}')
                current_modal_{{ menu.pk }} = document.getElementById('modal-{{ menu.pk }}')
                yes_btn_{{ menu.pk }} = document.getElementById('yes-{{ menu.pk }}')
                no_btn_{{ menu.pk }} = document.getElementById(('no-{{ menu.pk }}'))


                delete_form_btn_{{ menu.pk }}.addEventListener('click', () => {
                    current_modal_{{ menu.pk }}.style.display = 'flex'
                })

                document.addEventListener('click', e => {
                    if (e.target === current_modal_{{ menu.pk }}) {
                        current_modal_{{ menu.pk }}.style.display = 'none'

                    }
                })

                yes_btn_{{ menu.pk }}.addEventListener('click', () => {
                    delete_form_{{ menu.pk }}.submit()
                })

                no_btn_{{ menu.pk }}.addEventListener('click', () => {
                    current_modal_{{ menu.pk }}.style.display = 'none'
                })


            </script>
        {% endfor %}

        {% if restaurant.is_publishable %}
            <div>
                <a href="{% url 'restaurant:add_menu' %}" class="btn btn-warning btn-lg m-3">Add A New Menu</a>
            </div>
        {% else %}
            <div class="text-center fs-4">
                Please Fill in the restaurant Information in the Restaurant Tab First...
            </div>
        {% endif %}

    </div>
{% endblock %}