{% load static %}

<nav class="navbar navbar-expand-lg navbar-light  bg-white text-secondary sticky-top shadow ">
    <div class="container-fluid">
        <a class="navbar-brand d-flex align-items-center text-warning" style="font-weight: bold"
           href="{% url 'landingapp:landing_page' %}">
            <img src="{% static 'images/food-dish-svgrepo-com.svg' %}" alt="fresh-bite icon" height="40" width="40"
                 class="ms-2">
            Fresh Bite
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item m-1">
                    <a href="{% url 'restaurant:track_orders' %}"
                       class="btn btn-outline-warning text-dark fw-bolder ">Orders</a>
                </li>

                <li class="nav-item m-1">
                    <a href="{% url 'user:faq' %}" class="btn btn-outline-warning text-dark fw-bolder ">FAQ</a>
                </li>

                <li class="nav-item m-1">
                    <a href="{% url 'restaurant:edit_restaurant' %}"
                       class="btn btn-outline-warning text-dark fw-bolder ">Restaurant</a>
                </li>

                <li class="nav-item m-1">
                    <a href="{% url 'restaurant:menus' %}"
                       class="btn btn-outline-warning text-dark fw-bolder ">Menus</a>
                </li>

                <li class="nav-item m-1">
                    <a href="{% url 'restaurant:login' %}" class="btn btn-outline-warning text-dark fw-bolder">Logout</a>
                </li>
            </ul>

        </div>
    </div>
</nav>
