{% extends 'base.html' %}

{% load tz %}

{% load static %}

{% block title %}Orders{% endblock %}

{% block styles %}
    <style>
        .header {
            font-size: 3rem;
            font-weight: bold;
            margin: 2rem auto;
            text-align: center;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="m-3 row" style="min-height: 100dvh;">
        <h1 class="header text-capitalize">{{ restaurant.name }}</h1>
        {% if empty_list %}
            <div class="d-flex justify-content-center">
                <h1 class="fs-3">Opps! no orders yet...!!</h1>
            </div>
        {% endif %}
        {% for order_instance in order_list %}


            <div class="col-lg-6 col-md-12 p-2">
                <div class="card">
                    <div class="card-body">
                        <div class="fw-normal fs-3 my-5">
                            <div>Order created at: {{ order_instance.order.created_at }}</div>
                        </div>
                        <table class="table table-borderless rounded-3 table-striped">
                            <thead>
                            <tr>
                                <th>Item</th>
                                <th>Price</th>
                            </tr>
                            </thead>

                            <tbody>
                            {% for item in order_instance.items %}
                                <tr class="">
                                    <td class="text-start"><strong>{{ item.quantity }}x</strong>{{ item.item.name }}
                                    </td>
                                    <td>Rs. {{ item.item.price }}</td>
                                </tr>
                            {% endfor %}

                            </tbody>

                            <tfoot>
                            <tr>
                                <td>
                                    <div class="fs-3 fw-bold">Total</div>
                                </td>
                                <td>
                                    <div class="fs-3 fw-bold">Rs. {{ order_instance.order.total_amount }}</div>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <div class="fs-3 fw-bold">Order ID</div>
                                </td>
                                <td>
                                    <div class="fs-3 fw-bold">{{ order_instance.order.pk }}</div>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <div class="fs-3 fw-bold">Rider Phone No</div>
                                </td>
                                <td>
                                    <div class="fs-3 fw-bold">{{ order_instance.order.rider.phone }}</div>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <div class="fs-3 fw-bold">Customer Phone No</div>
                                </td>
                                <td>
                                    <div class="fs-3 fw-bold">{{ order_instance.order.user.phone }}</div>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <div class="fs-3 fw-bold">Status</div>
                                </td>
                                <td>
                                    <div class="fs-3 fw-bold text-{{ order_instance.order.get_status_color }}">{{ order_instance.order.get_status }}</div>
                                </td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>

        {% endfor %}


    </div>
{% endblock %}