<!DOCTYPE html>
<html data-theme="bumblebee" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {#    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.11.1/dist/full.min.css" rel="stylesheet" type="text/css"/>#}
    {#    <script src="https://cdn.tailwindcss.com"></script>#}
    <script src="https://unpkg.com/htmx.org@1.9.12"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
          integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <style>
        nav {
            z-index: 10;
        }

        .item-container {
            background: aqua;
            max-width: 100%;
            overflow-x: scroll;
        }

        .filter-sidepanel {
            z-index: 10;
            width: 20rem;
        }

        .rounded-btn{
            border-radius: 3rem;
            height: 2rem;
            width: 2rem;

        }

        {% block styles %}{% endblock %}
    </style>
    <title>
        {% block title %}
        {% endblock %}
    </title>
</head>
<body class="position-relative" style="overflow-x: clip">
{% include 'navbar-menu.html' %}
{% block content %}
{% endblock %}


{% include 'base-footer.html' %}


</body>
</html>

