<span>Rating:
    {% if rating == 0 %}
        Unrated
    {% endif %}
    {% if rating > 0 %}
        <i class="fa fa-star text-warning" aria-hidden="true"></i>
    {% endif %}

    {% if rating > 1 %}
        <i class="fa fa-star text-warning" aria-hidden="true"></i>
    {% endif %}

    {% if rating > 2 %}
        <i class="fa fa-star text-warning" aria-hidden="true"></i>
    {% endif %}

    {% if rating > 3 %}
        <i class="fa fa-star text-warning" aria-hidden="true"></i>
    {% endif %}

    {% if rating > 4 %}
        <i class="fa fa-star text-warning" aria-hidden="true"></i>
    {% endif %}
</span>