{% extends 'base.html' %}
{% load static %}

{% block title %} FreshBite {% endblock %}
{% block styles %}
    <style>

        .container1 {
            position: relative;
            background: aqua;
        }

        .search-form {
            left: 50%;
            transform: translate(-50%, 40%);
            width: 100%;
            z-index: 10;
        }

        .main-img {
            filter: brightness(50%);
        }

        .card-floating {
            transform: translateY(-70%) translateX(-5%);
            background: white;
            transition: all 250ms;
            opacity: 0;
            border-radius: 2rem;
        }

        .card-floating:hover {
            background-color: #eff1f2;
        }


        input.form-control {
            transition: all 250ms;

        }

        input:focus {
            transform: scale(1.01, 1.01);
        }

        .animate-entry {
            opacity: 0;
            transform: scale(0.9);
            transition: all 250ms;


        }


        .show {
            opacity: 1;
            transform: scale(1);

        }

        .show-card {
            transform: translateX(0%) translateY(-70%);
            opacity: 1;
        }


    </style>
{% endblock %}

{% block content %}
    <div class="container1">
        <form class="position-absolute top-0 mt-lg-5 p-lg-5 p-sm-4 mt-sm-0 search-form d-flex flex-column gap-3">
            <div>
                <h1 class=" display-4 fw-bolder text-white">Quality food, right where you want it.</h1>
            </div>
            <div class="d-flex gap-3">
                <input type="text" placeholder="Location" class="form-control rounded-elem p-3 border border-warning"/>
                <button type="submit" class="btn btn-lg btn-warning text-nowrap rounded-elem px-4">Find Food</button>
            </div>
        </form>
        <img class="img-fluid main-img" src="{% static 'images/restaurant-mural-wallpaper.jpg' %}" alt="background">
    </div>

    <div class="mt-5 pt-5">
        <div class="">
            <h2 class="display-5 ms-5">We take care of the rest, you focus on cooking</h2>
            <img class="img-fluid animate-entry" src="{% static 'images/chef.jpg' %}" alt="man cooking">
            <div class="border m-5 card-floating shadow-sm">
                <div class="card-body">
                    <h2 class="card-title">List your Restaurant on Fresh Bite!</h2>
                    <p>Want millions of new fans to savor your amazing food and groceries? So do we!</p>
                    <p>Sound good? Let’s team up today and make magic happen!</p>
                    <div class="d-flex justify-content-start">
                        <button class="btn btn-warning ">Get Started</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class=" py-5">
        <div>
            <h2 class="display-5 mx-5">Find us in these cities and many more!</h2>
        </div>
        <div class="p-5 row ">

            {% for city in covered_cities %}

                <div class="col-lg-3 col-md-4 col-sm-12 mb-3">
                    <a href="{{ city.wiki_link }}" class="card " style="border-radius: 1rem;overflow: clip; text-decoration: none;" >
                        <img class="card-img-top"
                             src="{{ city.city_image.url }}"
                             height="200px"
                             width="100px"
                             alt="Card image cap">
                        <div class="card-body  ">
                            <h5 class="card-title">{{ city.name }}</h5>
                        </div>
                    </a>
                </div>
            {% endfor %}

        </div>
    </div>

    <div class="mt-5 pt-5">
        <div class="bg">
            <h2 class="display-5 ms-5">Experience true joy of food with Family!</h2>
            <img class="img-fluid animate-entry" src="{% static 'images/map-delivery-see.jpg' %}" alt="man cooking">
            <div class="border m-5  card-floating shadow-sm">
                <div class="card-body">
                    <h2 class="card-title">Food Served at your doorstep!</h2>
                    <p>Gather your loved ones around the table and enjoy our delicious meals together, delivered
                        straight to your doorstep. </p>
                    <p>From our kitchen to your home, savor quality time with those who matter most.</p>
                    <div class="d-flex justify-content-start">
                        <button class="btn btn-warning ">Order Now</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mt-5 pt-5">
        <div class="">
            <h2 class="display-5 ms-5">Spice up your life !</h2>
            <img class="img-fluid animate-entry" src="{% static 'images/food-bg.jpg' %}" alt="man cooking">
            <div class="border m-5  card-floating shadow-sm">
                <div class="card-body">
                    <h2 class="card-title">Embrace the heat and elevate your dining experience!</h2>
                    <p>Indulge in the fiery flavors of our signature spicy dishes, guaranteed to ignite your taste buds
                        and leave you craving more. </p>
                    <div class="d-flex justify-content-start">
                        <button class="btn btn-warning ">Order Now</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="mt-5 pt-5">
        <div class="">
            <h2 class="display-5 ms-5">Ride The Tide!</h2>
            <img class="img-fluid animate-entry" src="{% static 'images/person-delivering-food.jpg' %}" alt="man cooking">
            <div class="border m-5  card-floating shadow-sm">
                <div class="card-body">
                    <h2 class="card-title">Ride With Us!</h2>
                    <p>Earn great pay with flexible hours as a rider. Work independently and enjoy the freedom to choose your shifts. Apply now and start delivering today! </p>
                    <div class="d-flex justify-content-start">
                        <button class="btn btn-warning ">Join Now</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="m-5 pt-5">
        <h3 class="display-7">Order food from the best restaurants and shops with FreshBite Pakistan!</h3>
        <p class="text-secondary">Feeling hungry? Had a long and stressful day? Whether you're craving a cheesy pizza
            delivered to your
            doorstep or aiming to skip the weekly grocery shopping, FreshBite Pakistan has got you covered! With a vast
            selection of the finest restaurants and shops in your area, FreshBite makes your everyday life easier. Our
            online food delivery service offers everything you desire, whether it's a succulent burger from Takeout,
            fresh sushi from Samdado, or peri peri chicken from Nando's. With over 2000 restaurants available from
            Karachi to Lahore and Islamabad to Faisalabad, FreshBite Pakistan ensures you never run out of options. And
            did you know? You can also order groceries and more from FreshBite shops! Explore our favorite partners like
            Hyperstar, Naheed Supermarket, Al-Fatah, and many more. Sit back, relax, and let FreshBite Pakistan take the
            burden off your shoulders.</p>

        <div class="accordion accordion-flush border" id="accordionFlushExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                        More Info
                    </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                     data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">

                        <h4><strong>Why choose FreshBite?</strong></h4>
                        <ul class="list-unstyled text-secondary">
                            <li><span class="link">✓</span> More options: food delivery from 2000+ restaurants in
                                Karachi, Lahore, Islamabad, and Faisalabad in Pakistan, as well as grocery delivery and
                                more from shop partners.
                            </li>
                            <li><span class="link">✓</span> Easy search: filter by cuisine or location, or simply type
                                in the name of the business you want.
                            </li>
                            <li><span class="link">✓</span> Various offers: indulge in the endless discounts and offers
                                available from top restaurants and shops.
                            </li>
                            <li><span class="link">✓</span> Payment options: Payment made easier with cash on delivery
                                and online payment options
                            </li>
                            <li><span class="link">✓</span> A simple 4-step food ordering process: Search → Choose → Pay
                                → Enjoy
                            </li>
                        </ul>

                        <h4><strong>Explore Over 25 Cuisines and Order Online Now!</strong></h4>
                        <p class="text-secondary">From selecting your location to savoring your meal, FreshBite ensures
                            a seamless ordering
                            experience. Craving Indian, Mexican, or Middle Eastern delicacies? Embark on a culinary
                            journey with our diverse range of cuisines. Indulge in your favorite soup, salad, sandwich,
                            or dessert from top-notch restaurants or budget-friendly local favorites. Opt for home
                            delivery to unwind, or choose Pick-Up for on-the-go convenience. Let FreshBite handle it
                            all.</p>

                        <h4><strong>Home Delivery Made Easy</strong></h4>
                        <p class="text-secondary">Enjoy the convenience of home delivery with FreshBite. Whether you're
                            relaxing at home or busy with work, our reliable delivery service ensures your favorite
                            meals are brought straight to your doorstep. Simply place your order, sit back, and let us
                            take care of the rest. With FreshBite, delicious meals are just a click away.</p>


                    </div>
                </div>
            </div>
        </div>

    </div>


    <script>
        const img_observer = new IntersectionObserver(entries => {
            entries.forEach(entry => {
                const intersecting = entry.isIntersecting

                if (intersecting) {
                    entry.target.classList.add("show")

                } else {
                    entry.target.classList.remove("show")
                }
            })
        }, {rootMargin: "-200px"})

        document.querySelectorAll('.animate-entry').forEach(element => {
            img_observer.observe(element)
        })



        const observer = new IntersectionObserver(entries => {
            entries.forEach(entry => {
                const intersecting = entry.isIntersecting

                if (intersecting) {
                    entry.target.classList.add("show-card")

                } else {
                    entry.target.classList.remove("show-card")
                }
            })
        }, {rootMargin: "-100px"})

        document.querySelectorAll('.card-floating').forEach(element => {
            observer.observe(element)
        })

    </script>



{% endblock %}