{% extends 'base.html' %}
{% load static %}
{% block title %}Thank You {% endblock %}
{% block styles %}
    <style>
        .main-container {
            min-height: 100vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 2rem;
            padding: 3rem;
        }

        h1 {
            text-align: center;
        }

        p {
            font-size: large;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="main-container">

        <h1>Password Reset Request successful!</h1>
        <img src="{% static 'icons/green-tick.svg' %}" height="150" width="150">
        <p>

            Thank you for your request. An email containing a password reset link has been sent to the address
            associated with your account. Please check your inbox and follow the instructions in the email to reset your
            password. If you don't see the email, be sure to check your spam or junk folder.
        </p>
    </div>

{% endblock %}