{% extends 'base.html' %}
{% load static %}
{% block title %}Nearby restaurants{% endblock %}

{% block styles %}
    <style>
        a {
            text-decoration: none;
            color: black;
        }

        .centered-element {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-weight: bold;
            font-size: 3rem;
            color: white;
            text-transform: capitalize;
            text-align: center;
        }

    </style>

{% endblock %}

{% block content %}
    <div class="m-5 d-flex gap-5 position-relative">
        {#        <div class="filter-sidepanel d-flex flex-column gap-3 px-5 border rounded p-3 sticky-top d-none d-lg-block h-75  ">#}
        {#            <div class="py-4 sticky-top"></div>#}
        {#            <h2 class="display-7">Filters</h2>#}
        {##}
        {#            <div>#}
        {#                <h5 class="">Sort By</h5>#}
        {#                <div class="form-check">#}
        {#                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">#}
        {#                    <label class="form-check-label" for="flexRadioDefault1">#}
        {#                        Relevance#}
        {#                    </label>#}
        {#                </div>#}
        {##}
        {#                <div class="form-check">#}
        {#                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">#}
        {#                    <label class="form-check-label" for="flexRadioDefault1">#}
        {#                        Shortest Distance#}
        {#                    </label>#}
        {#                </div>#}
        {##}
        {#                <div class="form-check">#}
        {#                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">#}
        {#                    <label class="form-check-label" for="flexRadioDefault1">#}
        {#                        Fastest Delivery#}
        {#                    </label>#}
        {#                </div>#}
        {#            </div>#}
        {##}
        {#            <div>#}
        {#                <h5 class="">Cuisines</h5>#}
        {##}
        {#                <div class="form-check">#}
        {#                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">#}
        {#                    <label class="form-check-label" for="flexCheckDefault">#}
        {#                        Asian#}
        {#                    </label>#}
        {#                </div>#}
        {#                <div class="form-check">#}
        {#                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">#}
        {#                    <label class="form-check-label" for="flexCheckDefault">#}
        {#                        Bakery#}
        {#                    </label>#}
        {#                </div>#}
        {#                <div class="form-check">#}
        {#                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">#}
        {#                    <label class="form-check-label" for="flexCheckDefault">#}
        {#                        Beverage#}
        {#                    </label>#}
        {#                </div>#}
        {#                <div class="form-check">#}
        {#                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">#}
        {#                    <label class="form-check-label" for="flexCheckDefault">#}
        {#                        Cafe#}
        {#                    </label>#}
        {#                </div>#}
        {#                <div class="form-check">#}
        {#                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">#}
        {#                    <label class="form-check-label" for="flexCheckDefault">#}
        {#                        Cake#}
        {#                    </label>#}
        {#                </div>#}
        {#                <div class="form-check">#}
        {#                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">#}
        {#                    <label class="form-check-label" for="flexCheckDefault">#}
        {#                        Deserts#}
        {#                    </label>#}
        {#                </div>#}
        {#                <div class="form-check">#}
        {#                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">#}
        {#                    <label class="form-check-label" for="flexCheckDefault">#}
        {#                        Biriyani#}
        {#                    </label>#}
        {#                </div>#}
        {#                <div class="form-check">#}
        {#                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">#}
        {#                    <label class="form-check-label" for="flexCheckDefault">#}
        {#                        Chicken#}
        {#                    </label>#}
        {#                </div>#}
        {#                <div class="form-check">#}
        {#                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">#}
        {#                    <label class="form-check-label" for="flexCheckDefault">#}
        {#                        Chinese#}
        {#                    </label>#}
        {#                </div>#}
        {#            </div>#}
        {##}
        {#            <button class="btn btn-warning   w-100 my-3">Filter</button>#}
        {##}
        {#        </div>#}

        <div class="flex-fill">
            <div class="mt-5 overflow-hidden">
                <h2 class="display-5">Nearest</h2>

                <div class="row overflow-hidden">

                    {% for restaurant in restaurants %}

                        <a
                                {% if restaurant.is_out_of_service %}
                                    href="#"
                                {% else %}
                                    href="{% url 'user:restaurant' restaurant_id=restaurant.pk %}"
                                {% endif %}
                                    class="col-md-6 col-lg-3 col-12  my-1 ">
                            <div class="card">

                                {% if restaurant.restaurant_image %}
                                    {% if restaurant.is_out_of_service %}
                                        <div style="position: relative;">
                                            <img src="{{ restaurant.restaurant_image.url }}"
                                                 style="filter: brightness(0.5)"
                                                 class="card-img-top" alt="..."
                                            >
                                            <div class="centered-element">out of service</div>
                                        </div>
                                    {% else %}
                                        <img src="{{ restaurant.restaurant_image.url }}"
                                             class="card-img-top" alt="..."
                                             style=""
                                        >
                                    {% endif %}

                                {% endif %}
                                <div class="card-body">
                                    <h5 class="card-title fw-bold">{{ restaurant.name }}</h5>
                                    <h6>Rating:
                                        {% if restaurant.average_rating > 0 %}
                                            <i class="fa fa-star text-warning" aria-hidden="true"></i>
                                        {% endif %}

                                        {% if restaurant.average_rating > 1 %}
                                            <i class="fa fa-star text-warning" aria-hidden="true"></i>
                                        {% endif %}

                                        {% if restaurant.average_rating > 2 %}
                                            <i class="fa fa-star text-warning" aria-hidden="true"></i>
                                        {% endif %}

                                        {% if restaurant.average_rating > 3 %}
                                            <i class="fa fa-star text-warning" aria-hidden="true"></i>
                                        {% endif %}

                                        {% if restaurant.average_rating > 4 %}
                                            <i class="fa fa-star text-warning" aria-hidden="true"></i>
                                        {% endif %}
                                    </h6>

                                    {#                                    <h6>distance: <strong>34</strong> min</h6>#}

                                </div>
                            </div>
                        </a>

                    {% endfor %}

                </div>


            </div>


        </div>


    </div>

{% endblock %}