{% extends 'base.html' %}

{% load static %}

{% block title %}Orders{% endblock %}

{% block content %}
    <div class="m-3 row" style="min-height: 100dvh;">


        <div class="col-lg-6 col-md-12 p-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title fw-bold">Dhansiri Restaurant</h5>


                    <table class="table table-borderless rounded-3 table-striped">
                        <thead>
                        <tr>
                            <th>Item</th>
                            <th>Price</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr class="">
                            <td class="text-start"><strong>3x</strong> Chicken Biriyani</td>
                            <td>1000 Rs</td>
                        </tr>

                        <tr>
                            <td><strong>3x</strong> Tehari</td>
                            <td>1000 Rs</td>
                        </tr>


                        <tr>
                            <td><strong>6x</strong> Cold Drinks</td>
                            <td>1000 Rs</td>
                        </tr>
                        </tbody>

                        <tfoot>
                        <tr>
                            <td>
                                <div class="fs-3 fw-bold">Total</div>
                            </td>
                            <td>
                                <div class="fs-3 fw-bold">3000 Rs</div>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <div class="fs-3 fw-bold">Status</div>
                            </td>
                            <td>
                                <div class="fs-3 fw-bold text-primary">Preparing</div>
                            </td>
                        </tr>
                        </tfoot>
                    </table>

                    <div class="d-grid">

                        <a href="#" class="btn btn-danger">Cancel</a>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-lg-6 col-md-12 p-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title fw-bold">Dhansiri Restaurant</h5>


                    <table class="table table-borderless rounded-3 table-striped">
                        <thead>
                        <tr>
                            <th>Item</th>
                            <th>Price</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr class="">
                            <td class="text-start"><strong>3x</strong> Chicken Biriyani</td>
                            <td>1000 Rs</td>
                        </tr>

                        <tr>
                            <td><strong>3x</strong> Tehari</td>
                            <td>1000 Rs</td>
                        </tr>


                        <tr>
                            <td><strong>6x</strong> Cold Drinks</td>
                            <td>1000 Rs</td>
                        </tr>
                        </tbody>

                        <tfoot>
                        <tr>
                            <td>
                                <div class="fs-3 fw-bold">Total</div>
                            </td>
                            <td>
                                <div class="fs-3 fw-bold">3000 Rs</div>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <div class="fs-3 fw-bold">Status</div>
                            </td>
                            <td>
                                <div class="fs-3 fw-bold text-success">Delivered</div>
                            </td>
                        </tr>
                        </tfoot>
                    </table>

                    <div class="d-grid">

                        <a href="#" class="btn btn-primary  ">Write A Review</a>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-lg-6 col-md-12 p-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title fw-bold">Dhansiri Restaurant</h5>


                    <table class="table table-borderless rounded-3 table-striped">
                        <thead>
                        <tr>
                            <th>Item</th>
                            <th>Price</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr class="">
                            <td class="text-start"><strong>3x</strong> Chicken Biriyani</td>
                            <td>1000 Rs</td>
                        </tr>

                        <tr>
                            <td><strong>3x</strong> Tehari</td>
                            <td>1000 Rs</td>
                        </tr>


                        <tr>
                            <td><strong>6x</strong> Cold Drinks</td>
                            <td>1000 Rs</td>
                        </tr>
                        </tbody>

                        <tfoot>
                        <tr>
                            <td>
                                <div class="fs-3 fw-bold">Total</div>
                            </td>
                            <td>
                                <div class="fs-3 fw-bold">3000 Rs</div>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <div class="fs-3 fw-bold">Status</div>
                            </td>
                            <td>
                                <div class="fs-3 fw-bold text-warning">Rider On Way</div>
                            </td>
                        </tr>
                        </tfoot>
                    </table>

                    <div class="d-grid">

                        <a href="#" class="btn btn-warning disabled ">Cannot be cancelled</a>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-lg-6 col-md-12 p-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title fw-bold">Dhansiri Restaurant</h5>


                    <table class="table table-borderless rounded-3 table-striped">
                        <thead>
                        <tr>
                            <th>Item</th>
                            <th>Price</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr class="">
                            <td class="text-start"><strong>3x</strong> Chicken Biriyani</td>
                            <td>1000 Rs</td>
                        </tr>

                        <tr>
                            <td><strong>3x</strong> Tehari</td>
                            <td>1000 Rs</td>
                        </tr>


                        <tr>
                            <td><strong>6x</strong> Cold Drinks</td>
                            <td>1000 Rs</td>
                        </tr>
                        </tbody>

                        <tfoot>
                        <tr>
                            <td>
                                <div class="fs-3 fw-bold">Total</div>
                            </td>
                            <td>
                                <div class="fs-3 fw-bold">3000 Rs</div>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <div class="fs-3 fw-bold">Status</div>
                            </td>
                            <td>
                                <div class="fs-3 fw-bold text-success">Delivered</div>
                            </td>
                        </tr>
                        </tfoot>
                    </table>

                    <div class="d-grid">

                        <a href="#" class="btn btn-primary ">Write a Review</a>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-lg-6 col-md-12 p-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title fw-bold">Dhansiri Restaurant</h5>


                    <table class="table table-borderless rounded-3 table-striped">
                        <thead>
                        <tr>
                            <th>Item</th>
                            <th>Price</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr class="">
                            <td class="text-start"><strong>3x</strong> Chicken Biriyani</td>
                            <td>1000 Rs</td>
                        </tr>

                        <tr>
                            <td><strong>3x</strong> Tehari</td>
                            <td>1000 Rs</td>
                        </tr>


                        <tr>
                            <td><strong>6x</strong> Cold Drinks</td>
                            <td>1000 Rs</td>
                        </tr>
                        </tbody>

                        <tfoot>
                        <tr>
                            <td>
                                <div class="fs-3 fw-bold">Total</div>
                            </td>
                            <td>
                                <div class="fs-3 fw-bold">3000 Rs</div>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <div class="fs-3 fw-bold">Status</div>
                            </td>
                            <td>
                                <div class="fs-3 fw-bold text-success">Delivered</div>
                            </td>
                        </tr>
                        </tfoot>
                    </table>

                    <div class="d-grid">

                        <a href="#" class="btn btn-primary ">Write a Review</a>
                    </div>
                </div>
            </div>
        </div>


    </div>
{% endblock %}