{% extends 'base.html' %}

{% load static %}

{% block title %}Orders{% endblock %}

{% block content %}
    <div class="m-3 row" style="min-height: 100dvh;">

        {% for order_instance in order_list %}

            <div class="col-lg-6 col-md-12 p-2">
                <div class="card">
                    <div class="card-body">
                        <div class="fw-normal fs-3 my-5">
                            <div>Order created at: {{ order_instance.order.created_at }}</div>
                        </div>
                        <h5 class="card-title fw-bold text-capitalize">{{ order_instance.order.restaurant.name }}</h5>


                        <table class="table table-borderless rounded-3 table-striped">
                            <thead>
                            <tr>
                                <th>Item</th>
                                <th>Price</th>
                            </tr>
                            </thead>

                            <tbody>
                            {% for item in order_instance.items %}
                                <tr>
                                    <td class="text-start"><strong>{{ item.quantity }}x</strong> {{ item.item.name }}
                                    </td>
                                    <td>Rs.{% widthratio item.quantity 1 item.item.price %}</td>
                                </tr>
                            {% endfor %}

                            </tbody>

                            <tfoot>
                            <tr>
                                <td>
                                    <div class="fs-3 fw-bold">Total</div>
                                </td>
                                <td>
                                    <div class="fs-3 fw-bold">Rs. {{ order_instance.order.total_amount }}</div>
                                </td>
                            </tr>
{#                            <tr>#}
{#                                <td>#}
{#                                    <div class="fs-3 fw-bold">User OTP</div>#}
{#                                </td>#}
{#                                <td>#}
{#                                    <div class="fs-3 fw-bold ">{{ order_instance.order.user_otp }}</div>#}
{#                                </td>#}
{#                            </tr>#}

                            <tr>
                                <td>
                                    <div class="fs-3 fw-bold">Status</div>
                                </td>
                                <td>
                                    <div class="fs-3 fw-bold text-{{ order_instance.order.get_status_color }}">{{ order_instance.order.get_status }}</div>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <div class="fs-3 fw-bold">Payment</div>
                                </td>
                                <td>
                                    <div class="fs-3 fw-bold">{{ order_instance.transaction.get_status }}</div>
                                </td>
                            </tr>


                            {% if order_instance.order.status == order_status.DELIVERED  and order_instance.order.is_rated == False %}
                                <tr class="fs-4">
                                    <td></td>
                                    <td>

                                        <a href="{% url 'user:rate' order_id=order_instance.order.pk %}"
                                           class="btn btn-primary">Write a review</a>
                                    </td>
                                </tr>
                            {% endif %}

                            </tfoot>
                        </table>

                        <form method="POST" class="d-grid">
                            {% csrf_token %}
                            <input type="hidden" name="order_pk" value="{{ order_instance.order.pk }}">
                            <input type="hidden" name="order_status" value="{{ order_status.CANCELLED }}">
                            {% if order_instance.order.status == order_status.PREPARING %}
                                <button type="submit" class="btn btn-danger">Cancel</button>
                            {% endif %}
                        </form>
                    </div>
                </div>
            </div>

        {% endfor %}


    </div>
{% endblock %}