{% extends 'base.html' %}

{% load static %}

{% block title %}Orders{% endblock %}

{% block content %}
    <div class="m-3 row" style="min-height: 100dvh;">

        {% for order_item in order_list %}

            <div class="col-lg-6 col-md-12 p-2">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title fw-bold text-capitalize">{{ order_item.order.restaurant.name }}</h5>


                        <table class="table table-borderless rounded-3 table-striped">
                            <thead>
                            <tr>
                                <th>Item</th>
                                <th>Price</th>
                            </tr>
                            </thead>

                            <tbody>
                            {% for item in order_item.items %}
                                <tr>
                                    <td class="text-start"><strong>{{ item.quantity }}x</strong> {{ item.item.name }}</td>
                                    <td>Rs.{% widthratio item.quantity 1 item.item.price %}</td>
                                </tr>
                            {% endfor %}


                            </tbody>

                            <tfoot>
                            <tr>
                                <td>
                                    <div class="fs-3 fw-bold">Total</div>
                                </td>
                                <td>
                                    <div class="fs-3 fw-bold">Rs. {{ order_item.order.total_amount }}</div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="fs-3 fw-bold">User OTP</div>
                                </td>
                                <td>
                                    <div class="fs-3 fw-bold ">{{ order_item.order.user_otp }}</div>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <div class="fs-3 fw-bold">Status</div>
                                </td>
                                <td>
                                    <div class="fs-3 fw-bold text-primary">{{ order_item.order.get_status }}</div>
                                </td>
                            </tr>
                            </tfoot>
                        </table>

                        <div class="d-grid">

                            <a href="#" class="btn btn-danger">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>

        {% endfor %}


    </div>
{% endblock %}