{% extends 'base.html' %}
{% load static %}

{% block title %}Monal Lahore{% endblock %}


{% block styles %}
    <style>
        .title {
            font-weight: bold;
            margin: 2rem 0;
            font-size: 4rem;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="accordion accordion-flush fixed-bottom d-lg-none d-md-block" style="max-height: 30rem; overflow-y: auto"
         id="accordionFlushExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed fw-bolder bg-warning" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    Your Items
                </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                 data-bs-parent="#accordionFlushExample">


                <div class="filter-sidepanel d-flex flex-column  gap-3 p-3 w-100">


                    <div class="card mb-3">
                        <div class="d-flex gap-5 justify-content-start">
                            <img style="height: 100px; width: 100px;" src="{% static 'images/squared-img.png' %}"
                                 class="img-fluid rounded-start"
                                 alt="...">
                            <div class="d-flex flex-fill flex-column justify-content-around align-items-center flex-nowrap">
                                <h6 class="card-title ">Haleem <strong>x3</strong>
                                </h6>
                                <div>
                                    <button class="btn btn-sm btn-warning rounded-btn">+</button>
                                    <button class="btn btn-sm btn-warning rounded-btn">-</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card mb-3">
                        <div class="d-flex gap-5 justify-content-start">
                            <img style="height: 100px; width: 100px;" src="{% static 'images/squared-img.png' %}"
                                 class="img-fluid rounded-start"
                                 alt="...">
                            <div class="d-flex flex-fill flex-column justify-content-around align-items-center flex-nowrap">
                                <h6 class="card-title ">Paya <strong>x3</strong>
                                </h6>
                                <div>
                                    <button class="btn btn-sm btn-warning rounded-btn">+</button>
                                    <button class="btn btn-sm btn-warning rounded-btn">-</button>
                                </div>
                            </div>
                        </div>
                    </div>


                    <button class="btn btn-warning   w-100 my-3">Review Order</button>

                </div>


            </div>
        </div>
    </div>


    <div class="m-5 d-flex gap-5 position-relative ">
        <div class="filter-sidepanel d-flex flex-column gap-3 h-75 border rounded p-2 sticky-top d-none d-lg-block  col-md-6 ">
            <div class="py-5 sticky-top"></div>
            <h4 class="fw-bold">Your Items</h4>

            <div class="card mb-3">
                <div class="row g-0">
                    <div style="max-height: 100px;overflow: clip" class="col-md-4">
                        <img src="https://recipe52.com/wp-content/uploads/2022/08/Nihari-recipe-2.jpg" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8 ">
                        <div class="card-body d-flex flex-column justify-content-between align-items-center flex-nowrap">
                            <h6 class="card-title ">Nihari <strong>x3</strong>
                            </h6>
                            <div>
                                <button class="btn btn-sm btn-warning rounded-btn">+</button>
                                <button class="btn btn-sm btn-warning rounded-btn">-</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mb-3">
                <div class="row g-0">
                    <div style="max-height: 100px; overflow: clip" class="col-md-4">
                        <img src="https://media.istockphoto.com/id/495455544/photo/red-lentil-indian-soup-with-flat-bread-masoor-dal.jpg?s=612x612&w=0&k=20&c=9fFtTaToOQlA5MksySTcwj1imV-Siz6zSwX4CW1NBQg=" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8 ">
                        <div class="card-body d-flex flex-column justify-content-between align-items-center flex-nowrap">
                            <h6 class="card-title ">Tarka daal <strong>x3</strong>
                            </h6>
                            <div>
                                <button class="btn btn-sm btn-warning rounded-btn">+</button>
                                <button class="btn btn-sm btn-warning rounded-btn">-</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="{% static 'images/squared-img.png' %}" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8 ">
                        <div class="card-body d-flex flex-column justify-content-between align-items-center flex-nowrap">
                            <h6 class="card-title ">Cold Drinks <strong>x6</strong>
                            </h6>
                            <div>
                                <button class="btn btn-sm btn-warning rounded-btn">+</button>
                                <button class="btn btn-sm btn-warning rounded-btn">-</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <button class="btn btn-warning   w-100 my-3">Review Order</button>

        </div>

        <div class="flex-fill">

            <h1 class="title">Monal Lahore</h1>
            <div class="d-flex gap-3">
                <input type="text" class="form-control rounded-elem" placeholder="Cuisine" aria-label="Search food"
                       aria-describedby="button-addon2">
                <button class="btn btn-warning " type="button" id="button-addon2">Search</button>
            </div>

            <div class="mt-5 overflow-hidden">
                <h2 class="fw-bold">Traditional Pakistani dishes</h2>

                <div class="row overflow-hidden">

                    <div class="col-md-6 col-lg-3 col-12 my-1">
                        <div class="card">
                            <div style="max-height: 300px;overflow: clip">


                                <img src="https://recipe52.com/wp-content/uploads/2022/08/Nihari-recipe-2.jpg"
                                     class="card-img-top" alt="...">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title fw-bold">Nihari</h5>
                                <h6>Price: <strong>Rs. 500</strong></h6>

                                <button class="btn btn-warning  fw-bold">ADD</button>

                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-3 col-12 my-1">
                        <div class="card">
                            <div style="max-height: 300px;overflow: clip">

                                <img src="https://media.istockphoto.com/id/495455544/photo/red-lentil-indian-soup-with-flat-bread-masoor-dal.jpg?s=612x612&w=0&k=20&c=9fFtTaToOQlA5MksySTcwj1imV-Siz6zSwX4CW1NBQg="
                                     class="card-img-top" alt="...">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title fw-bold">Tarka daal</h5>
                                <h6>Price: <strong>Rs. 500</strong></h6>

                                <button class="btn btn-warning  fw-bold">ADD</button>

                            </div>
                        </div>
                    </div>


                    <div class="col-md-6 col-lg-3 col-12 my-1">
                        <div class="card">
                            <div style="max-height: 300px;overflow: clip">

                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQJDj-F6051HobeUPF-56oqxL_qauWAHuKm7w&s"
                                     class="card-img-top" alt="...">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title fw-bold">Haleem</h5>
                                <h6>Price: <strong>Rs. 500</strong></h6>

                                <button class="btn btn-warning  fw-bold">ADD</button>

                            </div>
                        </div>
                    </div>


                </div>

            </div>


            <div class="mt-5 overflow-hidden">
                <h2 class="fw-bold">Chinese Cuisine</h2>

                <div class="row overflow-hidden">

                    <div class="col-md-6 col-lg-3 col-12 my-1">
                        <div class="card">
                            <div style="max-height: 300px;overflow: clip">


                                <img src="https://www.chilitochoc.com/wp-content/uploads/2020/06/ChickenManchurian5-683x1024.jpg"
                                     class="card-img-top" alt="...">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title fw-bold">Chicken Manchurian</h5>
                                <h6>Price: <strong>Rs. 500</strong></h6>

                                <button class="btn btn-warning  fw-bold">ADD</button>

                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-3 col-12 my-1">
                        <div class="card">
                            <div style="max-height: 300px;overflow: clip">

                                <img src="https://www.flourandspiceblog.com/wp-content/uploads/2018/12/IMG_0205-333x500.jpg"
                                     class="card-img-top" alt="...">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title fw-bold">Beef Chilli Dry</h5>
                                <h6>Price: <strong>Rs. 500</strong></h6>

                                <button class="btn btn-warning  fw-bold">ADD</button>

                            </div>
                        </div>
                    </div>


                    <div class="col-md-6 col-lg-3 col-12 my-1">
                        <div class="card">
                            <div style="max-height: 300px;overflow: clip">

                                <img src="https://butteroverbae.com/wp-content/uploads/2021/06/sweet-sour-chicken-12-768x1024.jpg"
                                     class="card-img-top" alt="...">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title fw-bold">Sweet and Sour Chicken</h5>
                                <h6>Price: <strong>Rs. 500</strong></h6>

                                <button class="btn btn-warning  fw-bold">ADD</button>

                            </div>
                        </div>
                    </div>


                </div>

            </div>


        </div>
    </div>





{% endblock %}