{% extends 'base.html' %}
{% load static %}

{% block title %}Monal Lahore{% endblock %}


{% block styles %}
    <style>
        .title {
            font-weight: bold;
            margin: 2rem 0;
            font-size: 4rem;
            text-transform: capitalize;
        }
        
        .main-container{
            min-height: 70vh;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="accordion accordion-flush fixed-bottom d-lg-none d-md-block" style="max-height: 30rem; overflow-y: auto"
         id="accordionFlushExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed fw-bolder bg-warning" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    Your Items
                </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                 data-bs-parent="#accordionFlushExample">


                <div class="filter-sidepanel d-flex flex-column  gap-3 p-3 w-100">

                    {% for cart_item in cart_items %}
                        <div class="card mb-3">
                            <div class="d-flex gap-5 justify-content-start">
                                <img style="height: 100px; width: 100px;" src="{{ cart_item.item.image.url }}"
                                     class="img-fluid rounded-start"
                                     alt="...">
                                <div class="d-flex flex-fill flex-column justify-content-around align-items-center flex-nowrap">
                                    <h6 class="card-title ">{{ cart_item.item.name }}
                                        <strong>x{{ cart_item.quantity }}</strong>
                                    </h6>
                                    <div class="d-flex">
                                        <form method="POST">
                                            {% csrf_token %}
                                            <input type="hidden" name="item_pk" value="{{ cart_item.item.pk }}">
                                            <input type="hidden" name="cart_pk" value="{{ cart_item.cart.pk }}">
                                            <input type="hidden" name="increment" value="increment">

                                            <button class="btn btn-sm btn-warning rounded-btn">+</button>
                                        </form>
                                        <form method="POST">
                                            {% csrf_token %}
                                            <input type="hidden" name="item_pk" value="{{ cart_item.item.pk }}">
                                            <input type="hidden" name="cart_pk" value="{{ cart_item.cart.pk }}">
                                            <input type="hidden" name="decrement" value="decrement">

                                            <button class="btn btn-sm btn-warning rounded-btn">-</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                    {% if cart_items %}
                        <a href="{% url 'user:review_order' cart_id=cart.pk %}" class="btn btn-warning w-100 my-3">Checkout</a>
                    {% else %}
                        <h5 class="text-danger fw-bold">No Item in Cart</h5>
                    {% endif %}

                </div>


            </div>
        </div>
    </div>


    <div class="m-5 d-flex gap-5 position-relative main-container">
        <div class="filter-sidepanel d-flex flex-column gap-3 h-75 border rounded p-2 sticky-top d-none d-lg-block  col-md-6 ">
            <div class="py-5 sticky-top"></div>
            <h4 class="fw-bold">Your Items</h4>

            {% for cart_item in cart_items %}

                <div class="card mb-3">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="{{ cart_item.item.image.url }}" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8 ">
                            <div class="card-body d-flex flex-column justify-content-between align-items-center flex-nowrap">
                                <h6 class="card-title ">{{ cart_item.item.name }}
                                    <strong>x{{ cart_item.quantity }}</strong>
                                </h6>
                                <div class="d-flex">
                                    <form method="POST">
                                        {% csrf_token %}
                                        <input type="hidden" name="item_pk" value="{{ cart_item.item.pk }}">
                                        <input type="hidden" name="cart_pk" value="{{ cart_item.cart.pk }}">
                                        <input type="hidden" name="increment" value="increment">

                                        <button class="btn btn-sm btn-warning rounded-btn">+</button>
                                    </form>
                                    <form method="POST">
                                        {% csrf_token %}
                                        <input type="hidden" name="item_pk" value="{{ cart_item.item.pk }}">
                                        <input type="hidden" name="cart_pk" value="{{ cart_item.cart.pk }}">
                                        <input type="hidden" name="decrement" value="decrement">

                                        <button class="btn btn-sm btn-warning rounded-btn">-</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            {% endfor %}

            {% if cart_items %}
                <a href="{% url 'user:review_order' cart_id=cart.pk %}" class="btn btn-warning w-100 my-3">Checkout</a>
            {% else %}
                <h5 class="text-danger fw-bold">No Item in Cart</h5>
            {% endif %}


        </div>

        <div class="flex-fill">

            <h1 class="title">{{ restaurant.name }}</h1>
            <div class="d-flex gap-3">
                <input type="text" class="form-control rounded-elem" placeholder="Cuisine" aria-label="Search food"
                       aria-describedby="button-addon2">
                <button class="btn btn-warning " type="button" id="button-addon2">Search</button>
            </div>

            {% for menu in menu_list %}



                <div class="mt-5 overflow-hidden">
                    <h2 class="fw-bold">{{ menu.name }}</h2>

                    <div class="row overflow-hidden">

                        {% for item in menu.items %}

                            <form method="post" onsubmit="" class="col-md-6 col-lg-3 col-12 my-1">
                                {% csrf_token %}
                                <input type="hidden" name="cart_pk" value="{{ cart.pk }}">
                                <input type="hidden" name="item_pk" value="{{ item.pk }}">
                                <input type="hidden" name="increment" value="increment">
                                <div class="card">
                                    <div style="height: 200px;overflow: clip">

                                        <img src="{{ item.image.url }}"
                                             class="card-img-top" alt="{{ item.name }}">
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title fw-bold">{{ item.name }}</h5>
                                        <h6>Price: <strong>Rs. {{ item.price }}</strong></h6>

                                        <button type="submit" class="btn btn-warning  fw-bold">ADD</button>

                                    </div>
                                </div>
                            </form>

                        {% endfor %}

                    </div>
                </div>
            {% endfor %}


        </div>
    </div>



{% endblock %}
